.date-phrase {
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.dateblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dateblock.checkout {
  border-bottom: 1px solid #000;
  font-family: Exo, sans-serif;
  color: #000;
}

.buy-user-email {
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.buy-buy {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e74c32;
  font-family: Exo, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.buy-course-name {
  margin-bottom: -20px;
  font-family: Exo, sans-serif;
  font-weight: 600;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  left: auto;
  top: -3%;
  right: -2%;
  bottom: auto;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
  font-family: Exo, sans-serif;
  color: #000;
  font-weight: 900;
}

.form-block-3 {
  display: block;
  margin-bottom: 0px;
}

.text-block-15 {
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
}

.field-label-6 {
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.text-field-4 {
  display: block;
  margin-bottom: 0px;
}

.text-field-4.inviz {
  display: none;
}

.section-buy {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 997;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.buy-email {
  display: none;
  margin-bottom: 60px;
}

.date-duration {
  font-family: Exo, sans-serif;
  font-weight: 700;
}

.buy-hint {
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.submit-button-3 {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e74c32;
  background-color: transparent;
  font-family: Exo, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.course-buy-pic {
  height: 200px;
  margin-top: -40px;
  margin-right: -20px;
  margin-left: -20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/sm9.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/sm9.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.payment-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 700px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 2px solid #000;
  background-color: #fff;
}

.but-description {
  margin-top: 10px;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.but-description.low {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e74c32;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}

.have-coupon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.submit-button-4 {
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: transparent;
  font-family: Exo, sans-serif;
  color: #000;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .dateblock.checkout {
    margin-top: 20px;
  }
  .buy-course-name {
    line-height: 38px;
  }
  .payment-block {
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .but-description {
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .but-description.low {
    margin-top: 20px;
  }
}