<div class="reading-container">
    <div class="reading-pic" style='background-image: url("<%= material.image %>")'></div>
    <h1 class="heading-14"><%= material.name%></h1>

    <form action="/file/get" method="post" name="read">
        <input style="display: none;" type="text" name="file" value="<%= material.file %>">
        <button class="invis-btn">
            <h3 class="heading-15">Read</h3>
        </button>
    </form>

<% if(user.admin) {%>
    <a id="delete-material" href="/admin/material/<%= material._id %>">Delete</a>
    <% } %>
</div>

<style>
    #delete-material {
        background-color: orangered;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 15px 10px 15px;
        color: white;
    }

    #invis-btn {
        background-color: transparent;
    }
</style>